

*{
  font-family: 'B612 Mono', 'M PLUS Rounded 1c', sans-serif;
  letter-spacing: 0.1em;
}


header{
  display: block;
}




.bg-black{
  background-color: #242830;
}

.white{
  color: white;
  text-align: center;
}

.inner{
  margin: auto;
}


.top .row{
  padding-top: 50px;
  height: 320px;
}

h1{
  letter-spacing: 0.2em;
  font-size: 50px;
}



.bgimg{
  background-image : url(image/LRG_DSC05839_Original2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  width: 100%;
  
}


.nav_toggle {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1000;
  
}

.nav_toggle.show {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1200;
}

.nav_toggle i {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 999999;
  
}
.nav_toggle i:nth-child(1) {
  top: 25%;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 25%;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) translateX(-50%) rotate(-225deg);
  transition: 0.5s;
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) translateX(-50%) rotate(225deg);
  transition: 0.5s;

}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  z-index: 10;
  background:rgb(36,38,49,0.95);
  height: 280px;
  padding-bottom: 0;
}

.nav ul{
  margin: auto;
  padding: 15px;
  width: 60%;
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

.nav ul li {
  list-style: none;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin: auto;
}

.under{
  border-bottom :1px dotted white ;
}

.nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 50px;
  width: 100%;
  height: 50px;
  display: inline-block;
  box-sizing: border-box;
  
}





h2{
  margin: 100px 0 50px;
}

.about-left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.face img{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 20px;
}

@media screen and (max-width:992px){
  .face img{
    width: 300px;
    height: 300px;
}
}

h2{
  font-size: 30px;
}

p{
  font-size: 18px;
}

#about i{
  font-size: 60px;
}

#about li{
  list-style-type: none;
  text-align: center;
}

#about ul{
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.text-563D7C{
  color: #563D7C;
}

.name{
  font-size: 20px;
}

.font-size{
  font-size: 24px;
}

.text-footer{
  font-size: 12px;
}

.service-icon{
  font-size: 60px;
  text-align: center;
}

.imgbx{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.box2{
  -webkit-clip-path: polygon(0 20%,100% 0,100% 100%,0 80%);
  clip-path: polygon(0 20%,100% 0,100% 100%,0 80%);
}


.modal{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-bg{
  background: rgba(0, 0, 0, 8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal-content1{
  background: #fff;
  left: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100vh;
}

.modal-content2{
  background: #fff;
  left: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100vh;
}

@media screen and (max-width:767px){
 .modal-content1{
   width: 90%;
   height: auto;
 }

 .modal-content2{
   width: 90%;
 }

}


.modal-body{
  width: 100%;
  padding: 0;
  max-height:5000px;
}




/* contact */

#contact .col-md-6{
  text-align: center;
}

.contact-name input{
width: 80%;
font-size: 15px;
padding: 10px;
box-sizing: border-box;
border-left: solid 40px gray;
}

.contact-email input{
  width: 80%;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  border-left: solid 40px gray;
}

.contact-msg textarea{
  width: 80%;
  font-size: 15px;
  padding: 10px;
  height: 30vh;
}

#contact{
  margin-bottom: 100px;
}

.cursor{
  cursor: pointer;
}

/*contact*/


button{
  width: 40px;
  height: 30px;
}

.contact-left input{
  width: 80%;
}






#contact{
  background-image: url(image/contact-img.JPG);
  background-size: cover;
  text-align: center;
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
}





.tw{
  position: relative;
  transition: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}





#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

#page_top i{
  transform: rotate(-90deg);
}

#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}




.fadein{
  opacity: 0;
  transform: translate(0,50px);
  transition: all 1500ms;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0,0);
}



@media screen and (max-width:768px){
  h1{
    font-size: 30px;
  }
}
